n8n/ready-import-product-first-agent.json
{
  "name": "Product First Agent (Supabase Vector)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "q1",
              "name": "question",
              "value": "বড় প্রতিষ্ঠান হোটেল মাদ্রাসার জন্য",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-question-1",
      "name": "Set Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a Bengali sales assistant.\nWorkflow rule (must follow):\n1) ALWAYS call `search_products_tool` first.\n2) If products are found, answer only from product data (name, price, capacity, burner size, height, material, includes, fan type).\n3) Only if product result is not enough, then call `search_docs_tool` for policy/business info.\n4) Never answer from imagination."
        }
      },
      "id": "ai-agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -416,
        32
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "chat-model-1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        -144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "embeddings-openai-1",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        240
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search PRODUCT knowledge. Use for: product name, price, capacity, burner size, height, material, fan type, includes, product comparisons.",
        "tableName": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 6,
        "includeMetadata": true,
        "options": {
          "queryName": "match_products"
        }
      },
      "id": "product-tool-1",
      "name": "search_products_tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        208,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search DOCUMENTATION and business policies. Use for: privacy policy, return policy, delivery, payment, business info, FAQ.",
        "tableName": {
          "__rl": true,
          "value": "document_chunks",
          "mode": "list",
          "cachedResultName": "document_chunks"
        },
        "limit": 4,
        "includeMetadata": true,
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "docs-tool-1",
      "name": "search_docs_tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        208,
        96
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Question": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "search_products_tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "search_docs_tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "search_products_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_docs_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
