n8n/ready-import-rag-agent-tools.json
{
  "name": "RAG Agent (Products + Docs) - Supabase",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "question",
              "name": "question",
              "value": "Customer asks: 18 inch chula price and delivery time in Dhaka?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-question-1",
      "name": "Set Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a Facebook Messenger Bengali sales assistant.\nMandatory tool order:\n1) Call `search_products_tool` first for any product-related message.\n2) If product results are enough, answer from product data only.\n3) Call `search_docs_tool` only when policy/business/document info is needed or product info is insufficient.\n4) Do not hallucinate."
        }
      },
      "id": "ai-agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "chat-model-1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        -176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "embeddings-openai-1",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        208
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search product catalog. Use for product name, price, size, burner size, material, fan type, image/video and availability.",
        "tableName": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {
          "queryName": "match_products"
        }
      },
      "id": "search-products-tool-1",
      "name": "search_products_tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        240,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search documentation and business policy. Use for return policy, delivery, payment, privacy, and FAQ.",
        "tableName": {
          "__rl": true,
          "value": "document_chunks",
          "mode": "list",
          "cachedResultName": "document_chunks"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "search-docs-tool-1",
      "name": "search_docs_tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        240,
        80
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Question": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "search_products_tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "search_docs_tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "search_products_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_docs_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
